6dof joint robot arm.txt
[{"id":"35374270.8ec88e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e87745c4.c366a8","type":"arduino out","z":"35374270.8ec88e","name":"","pin":"2","state":"SERVO","arduino":"46470282.6825cc","x":650,"y":100,"wires":[]},{"id":"19e5fd45.04dd83","type":"ui_slider","z":"35374270.8ec88e","name":"Joint1","label":"Joint1","tooltip":"","group":"edf8a926.3ec338","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Joint1","min":"10","max":"170","step":1,"x":410,"y":100,"wires":[["e87745c4.c366a8"]]},{"id":"a8b16eb3.4f1ea","type":"inject","z":"35374270.8ec88e","name":"Joint1","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":149.5,"y":100,"wires":[["19e5fd45.04dd83"]]},{"id":"d941dbff.3007a8","type":"arduino out","z":"35374270.8ec88e","name":"","pin":"3","state":"SERVO","arduino":"46470282.6825cc","x":650,"y":180,"wires":[]},{"id":"eedd2ab6.8ac008","type":"ui_slider","z":"35374270.8ec88e","name":"Joint2","label":"Joint2","tooltip":"","group":"edf8a926.3ec338","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Joint2","min":0,"max":"180","step":1,"x":410,"y":180,"wires":[["d941dbff.3007a8"]]},{"id":"783dca9f.ca0274","type":"inject","z":"35374270.8ec88e","name":"Joint2","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["eedd2ab6.8ac008"]]},{"id":"a06ed7eb.1fc638","type":"arduino out","z":"35374270.8ec88e","name":"","pin":"4","state":"SERVO","arduino":"46470282.6825cc","x":650,"y":260,"wires":[]},{"id":"d5147cb0.be6cd","type":"ui_slider","z":"35374270.8ec88e","name":"Joint3","label":"Joint3","tooltip":"","group":"edf8a926.3ec338","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Joint3","min":0,"max":"180","step":1,"x":410,"y":260,"wires":[["a06ed7eb.1fc638"]]},{"id":"e0bf0f7.d4b64f","type":"inject","z":"35374270.8ec88e","name":"Joint3","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["d5147cb0.be6cd"]]},{"id":"581b3d95.9723d4","type":"comment","z":"35374270.8ec88e","name":"joint","info":"","x":130,"y":40,"wires":[]},{"id":"3f717fcf.d812a","type":"arduino out","z":"35374270.8ec88e","name":"","pin":"5","state":"SERVO","arduino":"46470282.6825cc","x":650,"y":340,"wires":[]},{"id":"58056a37.1e5f64","type":"ui_slider","z":"35374270.8ec88e","name":"Joint4","label":"Joint4","tooltip":"","group":"edf8a926.3ec338","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Joint4","min":"10","max":"170","step":1,"x":410,"y":340,"wires":[["3f717fcf.d812a"]]},{"id":"7cb26e38.0fde5","type":"inject","z":"35374270.8ec88e","name":"Joint4","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":149.5,"y":340,"wires":[["58056a37.1e5f64"]]},{"id":"4877b0da.38d58","type":"arduino out","z":"35374270.8ec88e","name":"","pin":"6","state":"SERVO","arduino":"46470282.6825cc","x":650,"y":420,"wires":[]},{"id":"d77abbc7.a783f8","type":"ui_slider","z":"35374270.8ec88e","name":"Joint5","label":"Joint5","tooltip":"","group":"edf8a926.3ec338","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Joint5","min":0,"max":"180","step":1,"x":410,"y":420,"wires":[["4877b0da.38d58"]]},{"id":"277a2171.c7518e","type":"inject","z":"35374270.8ec88e","name":"Joint5","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":420,"wires":[["d77abbc7.a783f8"]]},{"id":"3d9d139b.fe452c","type":"arduino out","z":"35374270.8ec88e","name":"","pin":"7","state":"SERVO","arduino":"46470282.6825cc","x":650,"y":500,"wires":[]},{"id":"71426cd7.d96414","type":"ui_slider","z":"35374270.8ec88e","name":"Joint6","label":"Joint6","tooltip":"","group":"edf8a926.3ec338","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Joint6","min":0,"max":"180","step":1,"x":410,"y":500,"wires":[["3d9d139b.fe452c"]]},{"id":"dd74f923.79cb38","type":"inject","z":"35374270.8ec88e","name":"Joint6","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":500,"wires":[["71426cd7.d96414"]]},{"id":"46470282.6825cc","type":"arduino-board","z":"","device":"COM9"},{"id":"edf8a926.3ec338","type":"ui_group","z":"","name":"End effector position","tab":"d42bb9c4.ca97b8","disp":true,"width":"6","collapse":false},{"id":"d42bb9c4.ca97b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]