ph meter.txt
[{"id":"f225754b.7f8b88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7e653158.95793","type":"arduino in","z":"f225754b.7f8b88","name":"","pin":"0","state":"ANALOG","arduino":"46470282.6825cc","x":150,"y":240,"wires":[["5b9ba1de.93c89"]]},{"id":"8169ab5.8487658","type":"debug","z":"f225754b.7f8b88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":220,"wires":[]},{"id":"a10d936b.bbe6b","type":"ui_chart","z":"f225754b.7f8b88","name":"","group":"edf8a926.3ec338","order":6,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":550,"y":280,"wires":[["8169ab5.8487658"]]},{"id":"5b9ba1de.93c89","type":"function","z":"f225754b.7f8b88","name":"multiply","func":"msg.payload = Number(msg.payload);\nmsg.payload = 3.5*(msg.payload)*5.0/1024;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["a10d936b.bbe6b"]]},{"id":"46470282.6825cc","type":"arduino-board","z":"","device":"COM9"},{"id":"edf8a926.3ec338","type":"ui_group","z":"","name":"End effector position","tab":"d42bb9c4.ca97b8","disp":true,"width":"6","collapse":false},{"id":"d42bb9c4.ca97b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]