ph servo.txt
[{"id":"427d4876.357838","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d5cac0c0.00c24","type":"arduino out","z":"427d4876.357838","name":"","pin":"8","state":"SERVO","arduino":"46470282.6825cc","x":650,"y":100,"wires":[]},{"id":"9378731e.48f3f","type":"ui_slider","z":"427d4876.357838","name":"Joint7","label":"Joint7","tooltip":"","group":"edf8a926.3ec338","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Joint7","min":"10","max":"170","step":1,"x":410,"y":100,"wires":[["d5cac0c0.00c24"]]},{"id":"b12499ef.7aedc8","type":"inject","z":"427d4876.357838","name":"Joint7","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":149.5,"y":100,"wires":[["9378731e.48f3f"]]},{"id":"79ccdc22.7c53c4","type":"comment","z":"427d4876.357838","name":"ph meter","info":"","x":140,"y":40,"wires":[]},{"id":"46470282.6825cc","type":"arduino-board","z":"","device":"COM9"},{"id":"edf8a926.3ec338","type":"ui_group","z":"","name":"End effector position","tab":"d42bb9c4.ca97b8","disp":true,"width":"6","collapse":false},{"id":"d42bb9c4.ca97b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]