tank motor.txt
[{"id":"c20a8bd8.0c7168","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7bc2e12.a29d52","type":"arduino out","z":"c20a8bd8.0c7168","name":"motor1","pin":"6","state":"PWM","arduino":"f70ba897.db3db8","x":380,"y":140,"wires":[]},{"id":"358fc1ce.390b9e","type":"ui_slider","z":"c20a8bd8.0c7168","name":"pwm","label":"tank pwm","tooltip":"","group":"e89c31c8.b8c34","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"pwm","min":"0","max":"255","step":1,"x":230,"y":140,"wires":[["7bc2e12.a29d52","990fa619.89be28"]]},{"id":"fbfc5d93.a35a5","type":"inject","z":"c20a8bd8.0c7168","name":"tank motor","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":140,"wires":[["358fc1ce.390b9e"]]},{"id":"f0e8807d.460dc","type":"comment","z":"c20a8bd8.0c7168","name":"tank motor","info":"","x":140,"y":40,"wires":[]},{"id":"990fa619.89be28","type":"arduino out","z":"c20a8bd8.0c7168","name":"motor2","pin":"5","state":"PWM","arduino":"f70ba897.db3db8","x":380,"y":240,"wires":[]},{"id":"307993b0.b4bffc","type":"arduino out","z":"c20a8bd8.0c7168","name":"motor1","pin":"7","state":"OUTPUT","arduino":"f70ba897.db3db8","x":350,"y":340,"wires":[]},{"id":"adc161f1.e98ca","type":"arduino out","z":"c20a8bd8.0c7168","name":"motor2","pin":"4","state":"OUTPUT","arduino":"f70ba897.db3db8","x":350,"y":480,"wires":[]},{"id":"1bf4eebf.eb2b81","type":"ui_button","z":"c20a8bd8.0c7168","name":"forward motor1","group":"e89c31c8.b8c34","order":1,"width":0,"height":0,"passthru":false,"label":"forward motor1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"forward motor1","x":130,"y":280,"wires":[["307993b0.b4bffc"]]},{"id":"c1e15b0b.162108","type":"ui_button","z":"c20a8bd8.0c7168","name":"backward motor1","group":"e89c31c8.b8c34","order":1,"width":0,"height":0,"passthru":false,"label":"backward motor1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"backward motor1","x":130,"y":380,"wires":[["307993b0.b4bffc"]]},{"id":"3f7c0a2d.7e5636","type":"ui_button","z":"c20a8bd8.0c7168","name":"forward motor2","group":"e89c31c8.b8c34","order":1,"width":0,"height":0,"passthru":false,"label":"forward motor2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"forward motor2","x":140,"y":460,"wires":[["adc161f1.e98ca"]]},{"id":"2105cc7e.f93bf4","type":"ui_button","z":"c20a8bd8.0c7168","name":"backward motor2","group":"e89c31c8.b8c34","order":1,"width":0,"height":0,"passthru":false,"label":"backward motor2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"backward motor2","x":140,"y":560,"wires":[["adc161f1.e98ca"]]},{"id":"f70ba897.db3db8","type":"arduino-board","z":"","device":"/dev/ttyUSB2"},{"id":"e89c31c8.b8c34","type":"ui_group","z":"","name":"tank motor","tab":"d484cbf0.f0f238","disp":true,"width":"6","collapse":false},{"id":"d484cbf0.f0f238","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]